<div class="login-page">
  <div class="login-window">
    <div class="login-wrap">
    <%= form_for(@user, url: session_path) do |form| %>
      <h1>Login</h1>
      <div class="username">
        <%= form.label :username %>
        <br/>
        <%= form.text_field :username %>
      </div>
      <br/>
      <div class="password">
        <%= form.label :password %>
        <br/>
        <%= form.password_field :password %>
      </div>
      <div class="login-button">
        <%= form.submit "LOGIN" %>
      </div>
    <% end %>
    </div>
  </div>
</div>