<div class="reg-page">
  <div class="reg-window">
    <h1>Register</h1>
    <%= form_for @user do |form| %>
      <%= form.label "Username" %>
      <%= form.text_field "Username" %>
      <%= form.label "Password" %>
      <%= form.text_field "Password" %>
      <%= form.label "First name" %>
      <%= form.text_field "First name" %>
      <%= form.label "Last name" %>
      <%= form.text_field "Last name" %>
      <%= form.label "Bio" %>
      <%= form.text_area "Bio" %>
      <%= form.label "How often do you rant?" %>
      <%= radio_button "Daily" %>
      <%= radio_button "Weekly" %>
      <%= radio_button "Monthly" %>
      <%= form.submit "Register" %>
  <% end %>
  </div>
</div>