<div class="reg-page">
  <div class="reg-window">
    <%= form_for @user do |form| %>
      <div class="reg-wrap">
        <h1>Register</h1>

        <div class="username">
          <%= form.label :username %>
          <%= @user.errors.full_messages_for(:username).first %>
          <br/>
          <%= form.text_field :username %>
        </div>
        <div class="password">
          <%= form.label :password %>
          <%= @user.errors.full_messages_for(:password).first %>
          <br/>
          <%= form.password_field :password %>
        </div>
        <br/>
        <div class="email">
          <%= form.label :email %>
          <%= @user.errors.full_messages_for(:email).first %>
          <br/>
          <%= form.email_field :email %>
        </div>
        <div class="first-n">
          <%= form.label :first_name %>
          <%= @user.errors.full_messages_for(:first_name).first %>
          <br/>
          <%= form.text_field :first_name %>
        </div>
        <div class="last-n">
          <%= form.label :last_name %>
          <%= @user.errors.full_messages_for(:last_name).first %>
          <br/>
          <%= form.text_field :last_name %>
        </div>
        <div class="bio-field">
          <%= form.label :bio %>
          <%= @user.errors.full_messages_for(:bio).first %>
          <br/>
          <%= form.text_area :bio %>
        </div>
        <br/>
        <p><%= form.label :rate, "How often do you rant?" %></p>
        <%= @user.errors.full_messages_for(:rate).first %>
        <br/>
        <div class="daily">
          <%= form.radio_button(:rate, "daily") %>
          <%= form.label(:rate_daily, "Daily") %>
        </div>
        <div class="weekly">
          <%= form.radio_button(:rate, "weekly") %>
          <%= form.label(:rate_weekly, "Weekly") %>
        </div>
        <div class="monthly">
          <%= form.radio_button(:rate, "monthly") %>
          <%= form.label(:rate_monthly, "Monthly") %>
        </div>
        <br/>
        <br/>
        <div class="image-upload">
          <%= form.label :image, "Upload a profile picture:" %>
          <%= form.hidden_field(:image_cache) %>
          <%= @user.errors.full_messages_for(:image).first %>
          <br/>
          <%= form.file_field :image %>
        </div>
      </div>
      <div class="reg-button">
        <%= form.submit "REGISTER" %>
      </div>
    <% end %>
  </div>
</div>
