<div class="dash-wrap">
  <div class="new-rant-wrap">
    <div class="thumbnail">
      <%= image_tag 'jeff.jpg' %>
      <h3 class="username">
        <%= link_to "#{current_user.first_name} #{current_user.last_name}",
                    edit_user_path(current_user.id) %>
      </h3>
    </div>
    <hr/>
    <div class="rant-form">
      <%= form_for @rant do |form| %>

        <%= form.label :title, "A rant about" %>
        <% @rant.errors.full_messages_for(:title) %>
        <br/>
        <%= form.text_field :title %>
        <br/>
        <%= form.label :rant, "Rant" %>
        <br/>
        <%= form.text_area :rant %>
        <br/>
        <%= form.submit "RANT" %>
      <% end %>
    </div>
  </div>
  <div class="rant-feed">
    <div class="user-rants">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <% unless following_user(@user) %>
          <%= follow_button @user %>
        <% else %>
          <%= unfollow_button @user %>
        <% end %>
      <hr/>
      <h1><%= @user.rate.capitalize %> Ranter</h1>
      <hr/>
      <p><%= @user.bio %></p>
      <%= render @user_rants %>
    </div>
  </div>
</div>