<div class="dash-wrap">
  <%= render partial: "layouts/rant_console" %>
  <div class="rant-feed">
    <div class="user-rants">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <% unless following_user(@user) %>
          <%= follow_button @user %>
        <% else %>
          <%= unfollow_button @user %>
        <% end %>
      <hr/>
      <h1><%= @user.rate.capitalize %> Ranter</h1>
      <hr/>
      <p><%= @user.bio %></p>
      <%= render @user_rants %>
    </div>
  </div>
</div>