<div class="dash-wrap">
  <%= render partial: "layouts/rant_console" %>
  <div class="rant-feed">
    <div class="user-rants">
      <div class="user-show-image">
        <%= image_tag(@user.image_url, :class => 'thumb') %>
      </div>
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <% unless following_user(@user) %>
        <%= follow_button @user %>
      <% else %>
        <%= unfollow_button @user %>
      <% end %>
      <hr/>
      <h1><%= @user.rate.capitalize %> Ranter</h1>
      <hr/>
      <p><%= @user.bio %></p>
      <%= render @user_rants %>
    </div>
    <div class="comments">
      <hr/>
      <h3>Comments</h3>
      <% if @user.user_comments.length > 0 %>
        <% @user.user_comments.each do |comment| %>
          <p class="rant-body"><%= comment.comment %></p>
          <h4>By <%= comment.commenter.username %></h4>
          <% if comment.commenter == current_user %>
            <%= button_to "DELETE", user_user_comment_path(id: comment.id, user_id: @user.id), method: :delete  %>
          <% end %>
          <hr/>
        <% end %>
      <% else %>
        <p>No comments yet!</p>
      <% end %>
      <%= form_for [@user, @comment] do |form| %>
        <%= form.text_area :comment, placeholder: 'Enter comment here...' %>
        <br/>
        <%= form.submit "RANT BACK", :class => 'rant-button' %>
      <% end %>
    </div>
  </div>
</div>