<%= div_for rant do %>
  <h2><%= hash_tagger(rant.title) %></h2>
  <%= link_to "#{rant.user.first_name} #{rant.user.last_name}", user_path(rant.user.id) %><br/>
    <% if rant.user != current_user %>
      <% if following_user(rant.user_id) %>
        <%= dash_unfollow_button(rant.user) %>
      <% else %>
        <%= dash_follow_button(rant.user) %>
      <% end %>
    <% end %>
  <%= link_to rant_path(rant.id) do %>
    <p class="rant-body"><%= hash_tagger(rant.rant) %></p>
  <% end %>
  <%= rant_favorites(rant) %>
  <% if rant.user_id == current_user.id %>
    <%= button_to "DELETE", rant_path(rant.id), method: :delete, html: {class: "delete"} %>
  <% end %>
  <hr/>
<% end %>
