<hr/>
<%= div_for rant do %>
  <p><%= rant.user.first_name %> <%= rant.user.last_name %></p>
  <%= rant.title %>
  <%= rant.rant %>
  <% if rant.user_id == current_user.id %>
    <%= button_to "DELETE", rant_path(rant.id), method: :delete, html: { class: "delete"} %>
  <% end %>
<% end %>