<script type="text/javascript">
  window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>
<div class="dash-wrap">
  <%= render partial: "layouts/rant_console" %>
  <div class="rant-feed">
    <h1><%= hash_tagger(@this_rant.title) %></h1>

    <div class="favorite-wrap">
      <%= rant_favorites(@this_rant) %>
    </div>
    <div class="spam-tweet">
      <a class="twitter-share-button"
         href="https://twitter.com/share" data-url="<%= request.url %>" data-text="Interesting Read: <%= @this_rant.title %>">
        Tweet
      </a>
      <%= button_to "SPAM", rant_path(@this_rant.id), method: :put %>
    </div>
    <hr/>
    <div class="user-image">
      <%= image_tag(@this_rant.user.image_url, :class => 'thumb') %>
    </div>
    <h3>
      By <%= link_to "#{@this_rant.user.first_name.capitalize}
                     #{@this_rant.user.last_name.capitalize}",
                     user_path(@this_rant.user.id) %>
    </h3>
    <br/>
    <p class="rant-body"><%= hash_tagger(@this_rant.rant) %></p>
    <% if @this_rant.user_id == current_user.id %>
      <%= button_to "DELETE", rant_path(@this_rant.id), method: :delete, html: {class: "delete"} %>
    <% end %>
    <div class="comments">
      <hr/>
      <h3>Comments</h3>
      <% if @this_rant.comments.length > 0 %>
        <% @this_rant.comments.each do |comment| %>
          <p class="rant-body"><%= comment.comment %></p>
          <h4>By <%= comment.user.username %></h4>
          <% if comment.user == current_user %>
            <%= button_to "DELETE", rant_comment_path(id: comment.id, rant_id: @this_rant.id), method: :delete  %>
          <% end %>
          <hr/>
        <% end %>
      <% else %>
        <p>No comments yet!</p>
      <% end %>
      <%= form_for [@this_rant, @comment] do |form| %>
        <%= form.text_area :comment, placeholder: 'Enter comment here...' %>
        <br/>
        <%= form.submit "RANT BACK", :class => 'rant-button' %>
      <% end %>
    </div>
  </div>
</div>