<div class="dash-wrap">
  <div class="new-rant-wrap">
    <div class="thumbnail">
      <%= image_tag 'jeff.jpg' %>
      <h3 class="username"><%= link_to @fullname, edit_user_path(@user.id) %></h3>
    </div>
    <hr/>
    <div class="rant-form">
      <%= form_for @rant do |form| %>

        <%= form.label :title, "A rant about" %>
        <% @rant.errors.full_messages_for(:title) %>
        <br/>
        <%= form.text_field :title %>
        <br/>
        <%= form.label :rant, "Rant" %>
        <br/>
        <%= form.text_area :rant %>
        <br/>
        <%= form.submit "RANT" %>
      <% end %>
    </div>
  </div>
  <div class="rant-feed">
    <div class="user-rants">
        <h1>Latest Rants</h1>
        <% @all_rants.each do |rant| %>
          <hr/>
          <p><%= rant.user.first_name %> <%= rant.user.last_name %></p>
          <p><%= rant.title %></p>
          <p><%= rant.rant %></p>
        <% end %>

      <% if @user_rants.length > 0 %>
        <h1>My Rants</h1>
        <% @user_rants.each do |rant| %>
          <hr/>
          <p><%= rant.title %></p>

          <p><%= rant.rant %></p>
          <br/>
          <% if rant.user_id == current_user.id %>
          <%= button_to "DELETE", rant_path(rant.id), method: :delete, html: { class: "delete"} %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
