<% unless current_user %>
<div class="logo-box">
  <div class="logo">
    <%= link_to 'Rant.ly', main_path %>
  </div>
</div>
  <div class="login_reg">
    <%= link_to 'Login', new_session_path, class: 'login_link' %>
    <%= link_to 'JOIN', new_user_path, class: 'register_link join_box' %>
  </div>
<% else %>
  <% if current_user.admin %>
    <div class="logo-box">
      <div class="logo">
        <%= link_to 'Rant.ly', admin_dashboard_path %>
      </div>
    </div>
    <div class="main-nav">
      <nav>
        <%= link_to "Dashboard", admin_dashboard_path %> |
        <%= link_to "Rants", rants_path %> |
        <%= link_to "Users", users_path %>
      </nav>
      <%= link_to "LOGOUT", session_path,{ method: :delete, class: "logout-box logout-link"} %>
    </div>
  <% else %>
    <div class="logo-box">
      <div class="logo">
        <%= link_to 'Rant.ly', main_path %>
      </div>
    </div>
    <div class="main-nav">
      <nav>
        <%= link_to "Dashboard", dashboard_path %> |
        <%= link_to "Following", user_following_path(current_user.id) %> |
        <%= link_to "Favorites", user_favorites_path(current_user.id) %> |
        <%= link_to "Search", new_search_path %>
        <%= impersonation? %>
      </nav>
      <%= link_to "LOGOUT", session_path, { method: :delete, class: 'logout-link logout-box'} %>
    </div>
  <% end %>
<% end %>