<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="main_h1_box">
    <%= link_to 'Rant.ly', main_path, class: 'main_h1' %>
  </div>
  <% unless current_user %>
    <div class="login_reg">
      <%= link_to 'Login', new_session_path, class: 'login_link' %>
      <%= link_to 'JOIN', new_user_path, class: 'register_link join_box' %>
    </div>
  <% else %>
    <div class="main-nav">
      <%= link_to "Dashboard" %> |
      <%= link_to "Following" %> |
      <%= link_to "Favorites" %> |
      <%= link_to "Search" %>
    </div>
    <div class="logout">
      <%= link_to 'LOGOUT', session_path, method: :delete, class: 'logout-box logout-link' %>
    </div>
  <% end %>
</header>

<%= yield %>

</body>
</html>
